<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Starcraft II News</h1>
            <p class="lead text-center">The latest news in Starcraft II
                <br>
                Make comments about how you feel about whats going on.
            </p>
        </div>
    </div>


    <ul class="list-group list-group-flush">
        {{#each article}}
        <li class="list-group-item row">
            <h3>{{headline}}</h3>
            <p>{{summary}}</p>
            <p><a href="https://starcraft2.com{{url}}" target="#">Link to ariticle</a></p>

            {{!-- Link for collapse of comments --}}
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                View Comments
            </a>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#addCommentModal"
                data-id="{{_id}}">
                Make a comment
            </button>

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each comment}}
                            <tr>
                                {{!-- comments go here --}}
                                <td>{{comment}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger comment-delete"
                                        data-id="{{this._id}}">delete</button>
                                </td>
                            </tr>
                            {{/each}}


                        </tbody>
                    </table>

                </div>
            </div>
        </li>
        {{/each}}
    </ul>

</div>

<div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a Comment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="comment-input"></textarea>
                    </div>
                </form>
                <div id="comment-validation">Please Enter a Comment</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitComment">Submit</button>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="/assets/javascript/index.js"></script>